In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/online-food-dataset/onlinefoods.csv

In [2]:
#Importing Required Libraries
# import pandas as pd
# import numpy as np
import matplotlib.pyplot as plt

In [3]:
data=pd.read_csv("/kaggle/input/online-food-dataset/onlinefoods.csv")

In [4]:
#Info About Dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         388 non-null    int64
 1   Gender                      388 non-null    object
 2   Marital Status              388 non-null    object
 3   Occupation                  388 non-null    object
 4   Monthly Income              388 non-null    object
 5   Educational Qualifications  388 non-null    object
 6   Family size                 388 non-null    int64
 7   latitude                    388 non-null    float64
 8   longitude                   388 non-null    float64
 9   Pin code                    388 non-null    int64
 10  Output                      388 non-null    object
 11  Feedback                    388 non-null    object
 12  Unnamed: 12                 388 non-null    object
dtypes: float64(2), int64(3), object(8)
memory usage: 39.5+ KB

In [5]:
type(data)

pandas.core.frame.DataFrame

In [6]:
#Shape
data.shape

(388, 13)

In [7]:
#Columns
data.columns
# data.keys()

Index(['Age', 'Gender', 'Marital Status', 'Occupation', 'Monthly Income',
       'Educational Qualifications', 'Family size', 'latitude', 'longitude',
       'Pin code', 'Output', 'Feedback', 'Unnamed: 12'],
      dtype='object')

In [8]:
#Head
data.head()

,Age,Gender,Marital Status,Occupation,Monthly Income,Educational Qualifications,Family size,latitude,longitude,Pin code,Output,Feedback,Unnamed: 12
0,20,Female,Single,Student,No Income,Post Graduate,4,12.9766,77.5993,560001,Yes,Positive,Yes
1,24,Female,Single,Student,Below Rs.10000,Graduate,3,12.9770,77.5773,560009,Yes,Positive,Yes
2,22,Male,Single,Student,Below Rs.10000,Post Graduate,3,12.9551,77.6593,560017,Yes,Negative,Yes
3,22,Female,Single,Student,No Income,Graduate,6,12.9473,77.5616,560019,Yes,Positive,Yes
4,22,Male,Single,Student,Below Rs.10000,Post Graduate,4,12.9850,77.5533,560010,Yes,Positive,Yes

In [9]:
#Sample
data.sample(5)

,Age,Gender,Marital Status,Occupation,Monthly Income,Educational Qualifications,Family size,latitude,longitude,Pin code,Output,Feedback,Unnamed: 12
108,25,Male,Single,Employee,Below Rs.10000,Graduate,2,12.9698,77.7500,560066,No,Positive,No
117,24,Male,Prefer not to say,Self Employeed,More than 50000,Ph.D,2,13.0138,77.5877,560006,No,Positive,No
140,23,Male,Single,Student,No Income,Post Graduate,3,13.1020,77.5864,560064,No,Positive,No
342,22,Male,Married,Self Employeed,10001 to 25000,School,3,12.9820,77.6256,560008,Yes,Negative,Yes
289,20,Female,Single,Student,No Income,Graduate,2,13.0734,77.5464,560014,Yes,Positive,Yes

In [10]:
#Finding Numerical Columns
num_col=[]
for col in data.columns:
    if(data[col].dtypes!='object'):
        num_col.append(col)
print(f"There are total {len(num_col)} numerical columns in dataset")
print(num_col)

There are total 5 numerical columns in dataset
['Age', 'Family size', 'latitude', 'longitude', 'Pin code']

In [11]:
#Sample
data[num_col].sample(5)

     Age  Family size  latitude  longitude  Pin code
204   25            3   12.9048    77.6821    560036
236   22            3   13.0158    77.5390    560096
13    21            4   12.9770    77.5773    560009
34    22            2   12.9119    77.6446    560102
221   23            2   12.9105    77.4842    560060

In [12]:
#Finding Categorical Columns
cat_col=[]
for col in data.columns:
    if(data[col].dtypes=='object'):
        cat_col.append(col)
print(f"There are total {len(cat_col)} categorical columns in dataset")
print(cat_col)

There are total 8 categorical columns in dataset
['Gender', 'Marital Status', 'Occupation', 'Monthly Income', 'Educational Qualifications', 'Output', 'Feedback', 'Unnamed: 12']

In [13]:
#Sample
data[cat_col].sample(5)

,Gender,Marital Status,Occupation,Monthly Income,Educational Qualifications,Output,Feedback,Unnamed: 12
138,Female,Single,Employee,More than 50000,Graduate,Yes,Positive,Yes
253,Male,Single,Employee,10001 to 25000,Graduate,Yes,Positive,Yes
299,Female,Single,Employee,More than 50000,Post Graduate,No,Negative,No
9,Female,Single,Student,No Income,Post Graduate,Yes,Positive,Yes
150,Male,Single,Student,More than 50000,Post Graduate,Yes,Positive,Yes

> # Data Cleaning & Preprocessing

In [14]:
#Removing Unuseful Features
data.drop(columns={'Unnamed: 12'},inplace=True)

In [15]:
cat_col.remove('Unnamed: 12')

In [16]:
#Finding Null Values
data.isnull().mean()*100

Age                           0.0
Gender                        0.0
Marital Status                0.0
Occupation                    0.0
Monthly Income                0.0
Educational Qualifications    0.0
Family size                   0.0
latitude                      0.0
longitude                     0.0
Pin code                      0.0
Output                        0.0
Feedback                      0.0
dtype: float64

In [17]:
#Finding Duplicates
data.duplicated().sum()

103

In [18]:
#Removing Duplicates
data.drop_duplicates(inplace=True)

> # Feature Engineering

In [19]:
#Feature Encoding
from sklearn.preprocessing import LabelEncoder
for col in cat_col:
    print()
    print(f"#{col}")
    print(f"{col}_encoder=LabelEncoder()")
    print(f"data[{col}]={col}_encoder.fit_transform(data['{col}'])")

#Gender
Gender_encoder=LabelEncoder()
data[Gender]=Gender_encoder.fit_transform(data['Gender'])

#Marital Status
Marital Status_encoder=LabelEncoder()
data[Marital Status]=Marital Status_encoder.fit_transform(data['Marital Status'])

#Occupation
Occupation_encoder=LabelEncoder()
data[Occupation]=Occupation_encoder.fit_transform(data['Occupation'])

#Monthly Income
Monthly Income_encoder=LabelEncoder()
data[Monthly Income]=Monthly Income_encoder.fit_transform(data['Monthly Income'])

#Educational Qualifications
Educational Qualifications_encoder=LabelEncoder()
data[Educational Qualifications]=Educational Qualifications_encoder.fit_transform(data['Educational Qualifications'])

#Output
Output_encoder=LabelEncoder()
data[Output]=Output_encoder.fit_transform(data['Output'])

#Feedback
Feedback_encoder=LabelEncoder()
data[Feedback]=Feedback_encoder.fit_transform(data['Feedback'])

In [20]:
#Before Encoding
data[cat_col].sample(5)

,Gender,Marital Status,Occupation,Monthly Income,Educational Qualifications,Output,Feedback
177,Male,Married,Self Employeed,More than 50000,Post Graduate,No,Negative
265,Female,Single,Employee,25001 to 50000,Graduate,Yes,Positive
75,Female,Single,Student,25001 to 50000,Post Graduate,Yes,Positive
22,Female,Single,Student,No Income,Graduate,Yes,Positive
386,Male,Single,Student,Below Rs.10000,Post Graduate,Yes,Positive

In [21]:
#Gender
Gender_encoder=LabelEncoder()
data["Gender"]=Gender_encoder.fit_transform(data['Gender'])

#Marital Status
Marital_Status_encoder=LabelEncoder()
data["Marital Status"]=Marital_Status_encoder.fit_transform(data['Marital Status'])

#Occupation
Occupation_encoder=LabelEncoder()
data["Occupation"]=Occupation_encoder.fit_transform(data['Occupation'])

#Monthly Income
Monthly_Income_encoder=LabelEncoder()
data["Monthly Income"]=Monthly_Income_encoder.fit_transform(data['Monthly Income'])

#Educational Qualifications
Educational_Qualifications_encoder=LabelEncoder()
data["Educational Qualifications"]=Educational_Qualifications_encoder.fit_transform(data['Educational Qualifications'])

#Output
Output_encoder=LabelEncoder()
data["Output"]=Output_encoder.fit_transform(data['Output'])

#Feedback
Feedback_encoder=LabelEncoder()
data["Feedback"]=Feedback_encoder.fit_transform(data['Feedback'])

In [22]:
#After Encoding
data[cat_col].sample(5)

,Gender,Marital Status,Occupation,Monthly Income,Educational Qualifications,Output,Feedback
232,0,2,2,1,2,0,0
187,1,2,0,0,0,1,1
248,1,1,0,2,0,0,0
15,0,2,3,4,2,1,1
102,0,2,0,0,0,1,1

In [23]:
#Before Scaling
data[num_col].sample(5)

     Age  Family size  latitude  longitude  Pin code
175   23            6   12.9551    77.6593    560017
207   23            1   12.9770    77.5773    560009
74    26            4   13.0019    77.5713    560003
130   28            3   13.0019    77.5713    560003
187   25            2   12.9757    77.5586    560023

In [24]:
#Feature Scaling
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

In [25]:
#Feature and Target
Feature=data.drop(columns={'Output'})
Target=data['Output']

In [26]:
#Sample
Feature.sample(5)

,Age,Gender,Marital Status,Occupation,Monthly Income,Educational Qualifications,Family size,latitude,longitude,Pin code,Feedback
215,32,1,0,2,0,3,3,12.9820,77.6256,560008,0
235,29,1,2,0,1,0,3,13.0641,77.5931,560092,0
241,22,0,2,3,4,0,2,12.9369,77.6407,560095,1
250,29,0,0,0,1,1,3,12.9847,77.5491,560100,1
214,24,0,2,0,0,2,4,12.9337,77.5900,560011,1

In [27]:
#Target Sample
Target.sample(5)

135    0
255    1
6      1
202    1
39     1
Name: Output, dtype: int64

In [28]:
#Target Value Counts
Target.value_counts()

Output
1    217
0     68
Name: count, dtype: int64

In [29]:
#Train Test Split
from sklearn.model_selection import train_test_split as tts
f_train,f_test,t_train,t_test=tts(Feature,Target,test_size=0.4)

> # Model Building

In [30]:
#Importing Required Deep Learning Libraries
import tensorflow as tf
from tensorflow import keras
from keras import Sequential
from keras.layers import Dense

2024-03-28 21:59:29.248268: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-03-28 21:59:29.248428: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-03-28 21:59:29.420236: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered

In [31]:
#Model Creation
model=Sequential()
model.add(Dense(20,activation='relu',input_dim=11))
model.add(Dense(20,activation="relu"))
model.add(Dense(1,activation='sigmoid'))

/opt/conda/lib/python3.10/site-packages/keras/src/layers/core/dense.py:85: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [32]:
#Model Summary
model.summary()

Model: "sequential"

 Layer (type)                     Output Shape                  Param #

 dense (Dense)                    (None, 20)                        240

 dense_1 (Dense)                  (None, 20)                        420

 dense_2 (Dense)                  (None, 1)                          21

 Total params: 681 (2.66 KB)

 Trainable params: 681 (2.66 KB)

 Non-trainable params: 0 (0.00 B)

In [33]:
#Model Compilation
model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])

In [34]:
#Model Training
history=model.fit(f_train,t_train,epochs=10,verbose=True)

Epoch 1/10
6/6  1s 3ms/step - accuracy: 0.7586 - loss: 4077.5027
Epoch 2/10
6/6  0s 3ms/step - accuracy: 0.6619 - loss: 957.9899
Epoch 3/10
6/6  0s 2ms/step - accuracy: 0.5518 - loss: 494.6143
Epoch 4/10
6/6  0s 2ms/step - accuracy: 0.7661 - loss: 578.9205
Epoch 5/10
6/6  0s 3ms/step - accuracy: 0.5149 - loss: 208.6036
Epoch 6/10
6/6  0s 2ms/step - accuracy: 0.7889 - loss: 328.4048
Epoch 7/10
6/6  0s 2ms/step - accuracy: 0.6035 - loss: 213.0030
Epoch 8/10
6/6  0s 2ms/step - accuracy: 0.7726 - loss: 271.8559
Epoch 9/10
6/6  0s 2ms/step - accuracy: 0.5889 - loss: 161.4268
Epoch 10/10
6/6  0s 2ms/step - accuracy: 0.6206 - loss: 142.3474

In [35]:
#Model Prediction
t_pred=model.predict(f_test)

4/4  0s 13ms/step

In [36]:
#Model Prediction
t_train_pred=model.predict(f_train)

6/6  0s 1ms/step

In [37]:
t_pred=np.where(t_pred>0.5,1,0)

In [38]:
t_train_pred=np.where(t_train_pred>0.5,1,0)

In [39]:
#Model Evalution
model.evaluate(f_train,t_train)

6/6  0s 2ms/step - accuracy: 0.7478 - loss: 229.3230

[208.8799591064453, 0.7660818696022034]

In [40]:
#Model Accuracy 
from sklearn.metrics import accuracy_score
print(f"Accuracy of Model on Testing is {accuracy_score(t_test,t_pred)*100}")

from sklearn.metrics import accuracy_score
print(f"Accuracy of Model on Training is {accuracy_score(t_train,t_train_pred)*100}")

Accuracy of Model on Testing is 75.43859649122807
Accuracy of Model on Training is 76.60818713450293